body {
    font-size: 1.6rem;
    line-height: var(--lineHeight);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
        font-size: 4rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    p {
        margin: 0;
    }
}